@model IEnumerable<mvcDDL0.title>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ddl0</title>
</head>
<body>
    <div> 
        @Html.DropDownList("bookTypes");
    </div>
</body>
</html>
